:root {
  --header-font: "Segoe UI";
  --primary-white: #ffffff;
  --primary-black: #000000;
  /* --navbar-background: rgb(11, 8, 31); */
  --navbar-background: hsl(253, 54%, 5%);

  /* --header-background: #1d2549; */
  --header-background: #0d0d0e;
  --education-background: #1b1b42;
  --project-background: #1f1e55;
  --contact-background: #17254e;
  --footer-background: rgb(19, 17, 26);
  --title-color: #ebeeea;
}

/* some customizations
colors: #00345d, #12293a */

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

.main-page {
  /* Create the parallax scrolling effect */
  /* background-color: var(--header-background); */
  background-image: url("/src/images/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
}


/***************** Particles ################*/
.header #tsparticles {
  position: fixed;
  height: 90vh;
  width: 100%;
  z-index: 0;
}

/* ################ Bootstrap Navbar */
.Bootstrap-Navbar {
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar {
  background: var(--navbar-background) !important;
  padding: 0;
  height: 10vh;
}

#responsive-navbar-nav {
  justify-content: flex-end;
  background: var(--navbar-background) !important;
}

#responsive-navbar-nav a {
  font-size: 1.1vw;
  margin: 0.5rem 1rem;
  transition: 0.2s;
  padding: 1rem;
  line-height: 1vh;
  color: #ffffff !important;
}

.resume-link {
  background: rgba(97, 247, 97, 0.507);
  border-radius: 1.5vh;
  border: 1px solid #2a078a;
}

.navbar-brand {
  font-size: 4vh !important;
  padding: 0;
  margin: 0;
  position: relative;
  left: 3vh;
}

.navbar-toggler {
  position: relative;
  right: 3vh;
  font-size: 2.5vh;
}

.navbar-toggler-icon {
  padding: 0;
}

.navbar-nav .active {
  display: block !important;
}

.navbar-nav {
  align-items: center;
}

.nav-link:hover {
  background: rgba(208, 202, 240, 0.418);
  border-radius: 1.5vh;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(8, 7, 7, 0.19);
}

/*###################   Header ####################*/

.header {
  /* background-image: url("images/bg.jpeg");
  background-size: cover; */
  color: white;
  width: 100%;
  height: 90vh;
}

.header-container {
  position: relative;
}

.header-top {
  width: 100%;
}

.header-top h1 {
  text-align: center;
  margin: auto;
  width: 85%;
  font-size: 8vmax;
  font-weight: 100;
  letter-spacing: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header-top p {
  text-align: center;
  font-size: 1.5vmax;
  font-weight: 100;
  font-family: cursive;
  padding: 15px 0px;
  font-style: italic;
}

.display-profile img {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 50%;
  max-width: 20vmin;
  max-height: 20vmin;
  margin-bottom: 2vh;
  object-fit: cover;
  box-shadow: 0 10px 10px 0 rgba(3, 2, 2, 0.2), 0 6px 10px 0 rgba(2, 1, 1, 0.19);
  filter: grayscale(0.85);
}

.link-containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0vw 1vw;
  display: hidden;
}

.icon a {
  transition: transform 0.4s;
  font-size: 4.5vh;
  cursor: pointer;
}

.icon a:hover {
  transform: scale(1.5);
}

.about_me_container {
  width: 60%;
  margin: auto;
  padding-top: 1rem;
  overflow: hidden;
}

.about-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-contents p {
  font-family: inherit;
  font-weight: 200;
  font-size: 1.2vw;
  padding: 0vh;
  letter-spacing: 2px;
  line-height: 2;
}

.about-contents span {
  text-align: center;
  font-size: 2vw;
}



/* ####################### Education #################### */

.education-page {
  color: var(--primary-white);
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 5vh;
  z-index: 2;
}

#education {
  height: 10vh;
}

.education-title h1 {
  text-align: center;
  font-size: 5vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--title-color);
}

.education-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.education_svg {
  width: 35%;
}

.education-data {
  width: 60%;
}

.school {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  column-gap: 4vmin;
  margin: 4vmin;
  padding: 1.5vmin;
  background: rgb(225, 225, 243);
  color: black;
  border: 1px solid rgb(35, 66, 206);
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(3, 2, 2, 0.2), 0 6px 20px 0 rgba(2, 1, 1, 0.19);
  transition: 0.2s;
}

.school:hover {
  transform: scale(1.05);
}

/* .school-icon {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vmin;
  color: rgba(9, 9, 10, 0.89);
} */

.school-icon {
  display: flex;
  justify-content: center;
  align-items: center;

}

.college-logo {
  max-width: 20vmin;
  max-height: 20vmin;
  /* object-fit: cover; */
  /* box-shadow: 0 10px 10px 0 rgba(3, 2, 2, 0.2), 0 6px 10px 0 rgba(2, 1, 1, 0.19); */
}

.school-description h3 {
  font-size: 3.3vmin;
  margin-bottom: 3vmin;
}

.school-info {
  font-style: italic;
  font-size: 2vmin;
  line-height: 1vmin;
}

.courses {
  padding: 1.5vh 0vh;
  font-size: 2vmin;
}

.school-description h3,
.courses p,
.school-info p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* svg animation */

#Girl
{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    transform-box: fill-box;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

}

@keyframes swing {
    0% { transform: rotate(9deg); }
    100% { transform: rotate(-9deg); }
}


#Vector_38
{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center 0px;
    transform-box: fill-box;
    float:left;
}

#Vector_39{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center 0px;
    transform-box: fill-box;
    float:left;
}

#Vector_40
{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    transform-box: fill-box;
    float:left;
}

#leaf12
{
    -webkit-animation: shake-bottom 9s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 9s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#leaf13
{
    -webkit-animation: shake-bottom 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#lef14
{
    -webkit-animation: shake-bottom 7.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 7.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#leaf15
{
    -webkit-animation: shake-bottom 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#leaf16
{
    -webkit-animation: shake-bottom 6.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 6.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#leaf17
{
   
	        animation: shake-bottom 6s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}


/* ####################### Experience #################### */

.experience-page {
  color: var(--primary-white);
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 5vh;
  z-index: 2;
}

#experience {
  height: 10vh;
}

.experience-title h1 {
  text-align: center;
  font-size: 5vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--title-color);
}

.experience-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience-data {
  width: 60%;
}

.experience-svg {
  width: 35%;
}

.work {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  column-gap: 4vmin;
  margin: 4vmin;
  padding: 1.5vmin;
  background: rgb(225, 225, 243);
  color: black;
  border: 1px solid rgb(35, 66, 206);
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(3, 2, 2, 0.2), 0 6px 20px 0 rgba(2, 1, 1, 0.19);
  transition: 0.2s;
}

.work:hover {
  transform: scale(1.05);
}

.work-icon {
  display: flex;
  justify-content: center;
  align-items: center;

}

.work-logo {
  max-width: 20vmin;
  max-height: 20vmin;
  /* object-fit: cover; */
  /* box-shadow: 0 10px 10px 0 rgba(3, 2, 2, 0.2), 0 6px 10px 0 rgba(2, 1, 1, 0.19); */
}

.work-description h3 {
  font-size: 3.3vmin;
  margin-bottom: 3vmin;
}

.work-info {
  font-style: italic;
  font-size: 2vmin;
  line-height: 1vmin;
}

.work-description {
  padding: 1.5vh 0vh;
  font-size: 2vmin;
}

/* svg animation */


#tie {
  animation: tie 2s infinite ease-in-out;
  transform-origin: 50% 62%;
}
@keyframes tie {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: skew(-12deg) rotate(-6deg);
  }
}

/* ##################### Projects ######################## */

.projects {
  color: white;
  width: 100%;
  position: relative;
  z-index: 1;
}

#project {
  height: 10vh;
}

.project-title h1 {
  font-size: 5vh;
  font-weight: 100;
  text-align: center;
  margin-bottom: 4vh;
  color: var(--title-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.projects-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 60%;
  display: none;
}

.category button {
  padding: 5px;
  margin: 10px;
  font-size: 1.2rem;
  display: none;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 40px;
  margin: auto;
}

.project {
  background: #fcf7f6;
  box-shadow: 0 5px 10px 0 rgba(3, 2, 2, 0.2), 0 6px 20px 0 rgba(2, 1, 1, 0.19);
  padding: 2px;
  color: #141111;
  cursor: pointer;
  margin: auto;
  border-radius: 10px;
  border: 2px solid rgb(23, 6, 114);
}

.image-data {
  position: relative;
}

.static {
  width: 45vmin;
  height: 35vmin;
  margin: auto;
  border-radius: 10px;
}

.active {
  display: none;
}

.image-data:hover .static {
  display: none;
}

.image-data:hover .active {
  display: block;
  width: 45vmin;
  height: 35vmin;
  margin: auto;
  border-radius: 10px;
  filter: blur(1px);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 45vmin;
  background: rgba(0, 0, 0, 0.616);
  /* Black see-through */
  color: #f1f1f1;
  transition: 0.5s all ease;
  opacity: 0;
  color: white;
  font-size: 2.5vmin;
  padding: 2.5vmin;
  text-align: center;
}

.overlay a {
  text-decoration: none;
  color: white;
  background: rgba(129, 129, 133, 0.788);
  padding: 2vmin;
  border: 1px solid white;
  border-radius: 5px;
}

.project:hover .overlay {
  opacity: 1;
}

.project-caption {
  width: 45vmin;
  margin: auto;
  color: rgb(2, 2, 0);
  text-align: center;
}

.project-caption h3 {
  font-size: 3.2vmin;
  padding-top: 1vh;
}

.project-caption p {
  font-size: 2vmin;
}

.tools-used {
  color: rgb(77, 75, 75);
  font-size: 1.8vmin;
}

/* ######################### Contact ####################### */

.contact-page {
  color: var(--primary-white);
  padding-top: 10vh;
  position: relative;
  z-index: 1;
}

.contact-title {
  text-align: center;
  font-weight: 300;
  font-size: 5vh;
  padding: 3vh;
  color: var(--title-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contact-body {
  margin: auto;
  width: 70%;
}

.contact-text {
  text-align: center;
  font-size: 2.1vh;
  padding: 2vh;
}

.contact-text p {
  padding: 1vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contact-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 4vh 10vh 2vh;
  border-radius: 15px;
}

.contact-info {
  padding: 1vh 0vh 0vh 4vh;
  font-size: 2vh;
}

.contact-info span {
  padding-left: 2vh;
}

.contact-info a {
  color: var(--primary-white);
}

.footer {
  background: var(--footer-background);
  color: rgb(161, 159, 159);
  font-size: 1.6vh;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ##################### Media Queries ###################### */
@media screen and (max-height: 1400px) {
  .about-contents p {
    font-size: 1.9vh;
  }

}

@media (min-aspect-ratio: 16/10) {
  .projects-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  .header-top h1 {
    font-size: 9vmin;
  }

  .header-top p {
    font-size: 2.5vmin;
  }

  .school {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .about-contents p {
    font-size: 1.8vmax;
  }

  .contact-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }

  .contact-items {
    align-self: center;
    margin-bottom: 30px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .projects-list {
    display: grid;
    grid-template-columns: 1fr;
  }

}

@media screen and (max-height: 700px) {
  .about-contents p {
    font-size: 1.7vh;
  }

}

@media screen and (max-width: 450px) {
  .education-data {
    width: 100%;
  }

  .contact-body {
    width: 100%;
  }

  .about-contents p {
    font-size: 0.6rem;
  }
}

@media screen and (max-height: 538px) {
  .navbar {
    height: 10vh;
  }

  .header {
    height: auto;
  }

  .about-contents p {
    font-size: 1.6vmin;
  }

  #experience {
    height: 12vh;
  }

  #project {
    height: 12vh;
  }
}