* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

/***************** Particles ################*/
.header #tsparticles {
  position: absolute;
  height: 90vh;
  width: 100%;
  z-index: 0;
}

/*################ Navbar ##############*/
.nav {
  background: black;
  height: 10vh;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  height: 10vh;
  padding: 0px 24px;
}

.hamburger-menu {
  display: none;
}

.nav-wrapper {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 15px 5px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 1.6vw;
  cursor: pointer;
}

.nav-item a:active {
  border-bottom: 3px solid #01bf71;
}

.nav-item a:hover {
  color: burlywood;
}

/*###################   Header ####################*/

.header {
  background: #00345d;
  color: white;
  width: 100%;
  height: 90vh;
}

.header-container {
  margin: 0 auto;
  position: absolute;
}

.header-top {
  width: 100%;
}

.header-top h1 {
  text-align: center;
  margin: auto;
  width: 85%;
  font-size: 8vw;
  font-weight: 100;
  letter-spacing: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header-top p {
  text-align: center;
  font-size: 1.8vw;
  font-weight: 100;
  font-family: Verdana, sans-serif;
  padding: 15px 0px;
}

.display-profile img {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 50%;
  max-width: 20vh;
  max-height: 20vh;
  object-fit: cover;
}

.link-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 8vh;
  margin: auto;
  padding: 0px 100px;
}

.icon {
  font-size: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  margin: 10px;
  border-radius: 50%;
}

.icon:hover {
  font-size: 7vh;
}

.about_me_container {
  width: 60%;
  margin: auto;
  padding-top: 1rem;
  overflow: hidden;
}

.about-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-contents p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.4vw;
  padding: 0.5rem;
  letter-spacing: 2px;
  line-height: 2;
}

/* ##################### Projects ######################## */

.projects {
  background: #11163a;
  color: white;
  width: 100%;
}

#project {
  height: 10vh;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-bottom: 30px;
}

.project-title h1 {
  font-size: 3rem;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.projects-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 60%;
  display: none;
}

.category button {
  padding: 5px;
  margin: 10px;
  font-size: 1.2rem;
  display: none;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 40px;
  margin: auto;
}

.project {
  background: #5c4b83;
  box-shadow: 0 10px 10px 0 rgba(3, 2, 2, 0.2), 0 6px 20px 0 rgba(2, 1, 1, 0.19);
  padding: 2px;
  color: #141111;
  cursor: pointer;
  margin: auto;
}

.static {
  width: 400px;
  height: 300px;
  margin: auto;
}

.active {
  display: none;
}

.image-data:hover .static {
  display: none;
}

.image-data:hover .active {
  display: block;
  width: 400px;
  height: 300px;
  margin: auto;
}

.project-caption a {
  display: none;
}

.project-caption {
  width: 380px;
  margin: auto;
  color: rgb(2, 2, 0);
}

.project-caption {
}

/* ######################### Contact ####################### */
.contact-page {
  background: #0c1661;
  color: white;
}

.contact-head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.contact-title {
  text-align: center;
  font-weight: 300;
}

.contact-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-items {
  background: rgb(110, 177, 110);
  color: black;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 10px 40px 10px 20px;
  border-radius: 15px;
  margin-right: 50px;
}

.contact-items h3 {
  font-weight: 300;
  font-size: 26px;
}

.contact-info {
  padding: 30px 0px 0px 40px;
  font-size: 16px;
}

.contact-info span {
  padding-left: 20px;
}

.forms-container {
  padding-left: 20px;
}

.form-title h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 26px;
  padding-left: 20px;
}

.form-elements {
  padding-left: 20px;
}

.input-box {
  display: block;
  width: 300px;
  height: 25px;
  font-size: 16px;
  border-radius: 10px;
  border-color: red;
  padding: 3px 10px;
  margin-top: 10px;
}

.text-box {
  width: 400px;
  height: 150px;
}

.button-submit {
  background-color: #4caf50;
  color: black;
  display: block;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  width: 20%;
  cursor: pointer;
}

.button-submit:hover {
  background: darkgreen;
}

.footer {
  background: rgb(33, 33, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  text-align: center;
}

/* ##################### Media Query ###################### */

@media screen and (max-width: 850px) {
  .nav {
    transition: 0.8s all ease;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 4vh;
    cursor: pointer;
  }

  .nav-wrapper {
    display: none;
  }

  .header-top h1 {
    font-size: 9vh;
  }

  .header-top p {
    font-size: 2.5vw;
  }

  .about-contents p {
    font-size: 1.8vh;
  }

  .projects-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .contact-items {
    align-self: center;
    margin-bottom: 30px;
    margin-right: 0px;
  }
}
